body {
    max-width: 90%;
    margin: auto;
    background-image: url(https://cdn.pixabay.com/photo/2018/04/11/19/09/paper-3311430_960_720.png);
    background-repeat: no-repeat;
    background-position: bottom, right;
    background-size: cover;
}

header {
    background: repeating-linear-gradient(-45deg, red, red 5px, blue 5px, blue 10px);
}
.p {

    font-size: 12px;
    font-family: serif;
    line-height: 1.3em;
	color: darkgrey;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

a:visited {
    color: springgreen;

}

a:hover {
    background-color: navy;

}

blockquote {

    font-size: 160%;
    background-color: lightslategrey;
    width: 45%;
    margin: 80px auto;
    border-left: 3px dashed;
    padding: 10px 50px 10px 50px;
    
}

q {
   
    font-style: italic;
}

.farmer {
    border-left: 3px solid red;

}

.villager {

    border-left: green 3px solid;

}