body {
    max-width: 90%;
    margin: auto;
    background-image: url(https://cdn.pixabay.com/photo/2018/04/11/19/09/paper-3311430_960_720.png);
    background-repeat: no-repeat;
    background-position: bottom, right;
    background-size: cover;
    font-family: 'Noto Serif SC', serif;
    
}
h1,h2,h3 {
    font-family: 'Abril Fatface', cursive;
}

header {
    background: repeating-linear-gradient(-45deg, red, red 5px, blue 5px, blue 10px);
    opacity: 0.5;
}
.p {

    font-size: 12px;
    font-family: serif;
    line-height: 1.3em;
	color: darkgrey;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

a:visited {
    color: springgreen;

}

a:hover {
    background-color: navy;

}

blockquote {

    font-size: 160%;
    background-color: lightslategrey;
    width: 45%;
    margin: 80px auto;
    border-left: 3px dashed;
    padding: 10px 50px 10px 50px;
    font-style: italic;
    
}

q {
   
    font-style: italic;
}

.farmer {
    border-left: 3px solid red;

}

.villager {

    border-left: green 3px solid;

}



.good {
    color:green;
    text-transform: capitalize;
}
.bad {
    color:red;
    text-transform: capitalize;
}

table, th, td {
    border: 1px solid black;
}

tr:nth-of-type(odd) {
    background-color: grey;
}

li:first-child {
    margin: 0;
    padding: 10px 0px 10px 40px;
    list-style: none;
    background-image: url(bien.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    
}
li:first-child {
    margin: 0;
    padding: 10px 0px 10px 40px;
    list-style: none;
    background-image: url(bien.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    
}

li:nth-child(2) {
    margin: 0;
    padding: 10px 0px 10px 40px;
    list-style: none;
    background-image: url(mal.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    
}


li:nth-child(3) {
    margin: 0;
    padding: 10px 0px 10px 40px;
    list-style: none;
    background-image: url(chat.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    
}
.firstp {
    font-weight: bold;
}

figure {
    float: right;
    width: 40%;
}
figure img {
    width: 75%;
    height: 75%;
}

.notification {
    background:#FFFFDD;
    padding:.5rem 1rem;
    border:3px solid #DDDDCC;
    width:100px;
    height: 20px;
    font-weight:bold;
    color: #333300;
    position: fixed;
    top: 100px;
    right: 0;
    
}